$bgColor: #00a9e4;

@mixin absolute-center-center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.container {
  width: 100%;
  height: 100%;
  background-color: $bgColor;
  .rippleGroupTopLeft {
    position: absolute;
    top: 0;
    left: 0;
  }

  .rippleGroupRightBottom {
    position: absolute;
    right: 0;
    bottom: 0;
    transform: rotate(180deg);
  }
}

.card {
  @include absolute-center-center;
  z-index: 1;
  .step {
    width: 100%;
    height: 100%;
    background-color: #00AAE71A;
    padding: 72px 90px;
  }
}
