.custom-emoji-mart {
  .emoji-mart {
    border: none;
    border-radius: unset;
  }
  .emoji-mart-bar, .emoji-mart-category-label, .emoji-mart-search {
    display: none;
  }
  .emoji-mart {
    background-color: #09080E;
  }
}