.container {
  width: 100%;
  height: 100%;
  background-color: #000;
  padding: 50px 72px;
  display: flex;
}

.videoPanelBody {
  width: 70%;
  flex-shrink: 0;
}

.chatPanelBody {
  flex: 1;
  min-width: 360px;
}

.fullVideoPlayer {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.smallVideoPlayer {
  position: absolute;
  right: 20px;
  top: 20px;
  cursor: pointer;
}
