.wb-panel {
  width: 100%;
  position: relative;
  .whiteboard-canvas {
    margin-top: -16px;
    width: calc(100% - 54px);
    height: 100%;
    //background-color: red;
    &-locked {
      pointer-events: none;
    }
  }
}