.chat-message {
  display: flex;
  &-content {
    display: flex;
    flex-direction: column;
    max-width: 75%;
  }
  .bubble {
    padding: 8px 12px;
    background-color: #435860;
    color: #fff;
    border-radius: 32px;
    font-size: 16px;
    position: relative;
    box-sizing: border-box;
    word-break: break-all;
    //&::after {
    //  content: '';
    //  position: absolute;
    //  top: 10px;
    //  width: 0;
    //  height: 0;
    //}
  }
  &-ltr {
    .chat-message-content {
      margin-left: 10px;
    }
    .username {
      text-align: left;
    }
    .bubble {
      width: fit-content;
      &::after {
        border-top: 4px solid transparent;
        border-right: 4px solid #eaeaea;
        border-bottom: 4px solid transparent;
        border-left: 4px solid transparent;
        left: -8px;
      }
    }
  }
  &-rtl {
    flex-direction: row-reverse;
    .chat-message-content {
      align-items: flex-end;
    }
    .username {
      text-align: right;
      margin-right: 10px;
    }
    .bubble {
      margin-right: 10px;
      &::after {
        border-top: 4px solid transparent;
        border-right: 4px solid transparent;
        border-bottom: 4px solid transparent;
        border-left: 4px solid #eaeaea;
        left: 100%;
      }
    }
  }
}