.recorder-detector {
  .cameras {
    display: flex;
    margin-bottom: 20px;
    justify-content: space-around;
    .local-camera, .replay {
      width: 400px;
      height: 400px;
    }
    .replay-video {
      width: 100%;
      height: 100%;
      object-fit: contain;
      transform: rotateY(180deg);
    }
  }
  .action {
    text-align: center;
  }
}