.room-create-form {
  .title {
    color: #00AAE7;
    padding: 10px 0;
    font-size: 18px;
    text-align: center;
  }

  .tip {
    text-align: center;
    font-size: 12px;
    padding: 5px 0;
    color: #333333;
  }

  .button {
    margin: 10px 0;
  }
}
