.popover-content {
  &--direction {
    &-horizontal {}
    &-vertical {
      display: flex;
      flex-direction: row;
      .multi-color-circle-bar, .multi-size-circle-bar {
        display: flex;
        flex-direction: column;
      }
    }
  }
}

.icon-pen-pencil {
  display: inline-block;
}