.meeting-list {
  padding: 0 132px;
  .action {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    &-4 {
      width: 180px;
      margin: auto;
    }
  }
}

@media screen and (max-width: 640px) {
  .meeting-list {
    padding: 0;
  }
}