.room-list-table {
  background-color: #fff;
  .ant-table-content {
    > table {
      background-color: #fff;
    }
  }
  .ant-table-thead {
    .ant-table-cell {
      background: #1890FF;
      color: #fff;
    }
  }
  .ant-table-pagination {
    margin-right: 66px;
  }
}