.container {
  width: 100%;
  height: 100%;
  background-color: #000;
  box-sizing: border-box;
  padding: 50px 72px;
}

.body {
  display: flex;
  width: 100%;
  height: 100%;
}

.rtcModule {
  width: 100%;
  height: 100%;
}

.rtcModuleLoading {
  display: flex;
  align-items: center;
  justify-content: center;
}

.chat {
  flex: 0 0 300px;
}
