.work-box {
  width: 50px;
  cursor: pointer;
  border-radius: 50%;
  padding: 10px;
  box-shadow: 10px 5px 5px rgb(0 0 0 / 10%);

  &-content {
    .icon {
      padding: 8px;

      &:hover {
        background-color: rgba(0, 0, 0, 0.1);
      }
    }
  }
}
