.welcome-modal {
  &--body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    .pic {
      flex-shrink: 0;
      width: 200px;
      height: 200px;
      background-color: #1890ff;
      margin: 20px;
    }
  }
}