.audio {
  &-play-btn {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    margin-right: 8px;
    flex-shrink: 0;
    background-image: url("../../assets/images/icon-speaker-test.svg");
    background-size: 100% 100%;
    cursor: pointer;
  }
  &-box {
    background: #f0f4fb;
    border-radius: 16px;
    display: flex;
    align-items: center;
    height: 32px;
    padding: 0 4px;
    width: 252px;
    box-sizing: border-box;
    margin-top: 12px;
  }
  &-graph {
    display: flex;
    align-items: center;
    .green-bar {
      background-color: #31b665;
    }
  }
  &-bar {
    background: rgb(219, 226, 239);
    width: 4px;
    margin-right: 4px;
    &-10 {
      height: 10px;
    }
    &-14 {
      height: 14px;
    }
    &-18 {
      height: 18px;
    }
  }
  .time-total {
    margin-left: 12px;
    font-size: 12px;
    color: #888;
  }
}

.test-audio-player {
  display: none;
}